{% extends "commons/base.html" %}
{% block title %}
이말삼초
{% endblock %}
{% block body %}
<div class="contents">
    <nav>
        <h3>　</h3>
        <ul>
            <li><a href="#home">홈</a></li>
            <li><a href="#intro">소개</a></li>
            <li><a href="#apply">신청하기</a></li>
        </ul>
    </nav>
    <a name="#home"></a>
    <div id="main">
        <div class="cover">
            <div class="inner_contents">
                <h1>이말삼초</h1>
                <h4 class="sub-title">더 이상 망설일 수 없는 시간<h4>
            </div>
        </div>
    </div>
    <div class="line-divider"></div>
    <a name="#intro"></a>
    <div class="intro">
        <p class="sub">인연도 사람을 만나야 생기지</p>
        <h3>우리에게 부족했던 건<br>단지 기회였다.</h3>
    </div>
    <a name="#desc"></a>
    <div class="desc">
        <div class="line"></div>
        <h3>개강한 지 한달,<br/>이번 주말에도 혼자 집에서 뒹굴거릴 생각이신가요?</h3>
        <br/>
        <p>
            1. 아래 설문지를 작성하고 일주일만 기다리면 <br/>
            2. 선호하는 이상형에 맞는 이성 분들 목록을 보여 드립니다. <br/>
            3. 가장 잘 맞을 것 같은 분 세분만 선택하세요! <br/>
            4. 매칭에 성공하면 서로의 연락처를 알려드리고, 실패하더라도 랜덤으로 매칭시켜 드립니다 :) <br/>
            5. 여성 분은 무료! 남성 분은 커피 한잔 값 5,000원에 모십니다.
        </p>
        <br/>
        <div class="line"></div>
    </div>
    <a name="#apply"></a>
    <div class="apply">
        <div class="forms">
            <div class="form-wrapper">
                <div class="header"><h1>인연을 찾으세요!</h1></div>
                <form action="" method="post" enctype="multipart/form-data">
                    <label>성별</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="여자" autocomplete="off">
                                여자
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="남자" autocomplete="off">
                                남자
                            </label>
                        </div>
                    </div>

                    <label>이름</label>
                    <div class="form-group">
                        <input type="text" name="name" class="form-control" placeholder="이름과 연락처 등 개인정보는 비공개 처리합니다." required="true">
                    </div>

                    <label>휴대폰 번호</label>
                    <div class="form-group">
                        <input type="number" name="phone" class="form-control" placeholder="매칭 성공 여부를 문자로 알려드립니다." required="true" maxlength="11">
                    </div>

                    <label>나이</label>
                    <div class="form-group">
                        <input type="number" name="age" class="form-control" placeholder="숫자만 입력해주세요." required="true" onkeyup="this.value=number_filter(this.value);" maxlength="2">
                    </div>

                    <label>현재 거주지</label>
                    <div class="form-group">
                        <select class="form-control" name="location">
                            {% for location in locations %}
                                <option>{{ location.name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <label>선호하는 이상형</label>
                    <div class="form-group">
                        <textarea name="ideal" class="form-control" rows="3" placeholder="키/성격/특징 등 선호하는 이상형을 100자 내외로 간단하게 적어주세요."></textarea>
                    </div>

                    <label>선호하지 않는 분</label>
                    <div class="form-group">
                        <textarea name="non_ideal" class="form-control" rows="3" placeholder="이런 분만은 절대 싫다!"></textarea>
                    </div>

                    <label>자신을 표현해주세요</label>
                    <div class="form-group">
                        <textarea name="introduce" class="form-control" rows="3" placeholder="간단한 자기소개 / 어필할 점 / 주의할 점 등을 200자 내외로 적어주세요."></textarea>
                    </div>

                    <label>주요 관심사</label>
                    <div class="form-group">
                        <input type="text" name="interest" class="form-control" placeholder="ex) 영화/운동/만화 등" required="true">
                    </div>

                    <label>연애 경험</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="experience" value="유" autocomplete="off">
                                유
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="experience" value="무" autocomplete="off">
                                무
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="experience" value="비밀" autocomplete="off">
                                비밀
                            </label>
                        </div>
                    </div>

                    <label>주변인</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="friend" value="적다" autocomplete="off">
                                적다
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="friend" value="보통" autocomplete="off">
                                보통
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="friend" value="많다" autocomplete="off">
                                많다
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="friend" value="비밀" autocomplete="off">
                                비밀
                            </label>
                        </div>
                    </div>

                    <label>선호 연령</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="prefer_age" value="연상" autocomplete="off">
                                연상
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="prefer_age" value="연하" autocomplete="off">
                                연하
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="prefer_age" value="동갑" autocomplete="off">
                                동갑
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="prefer_age" value="상관없다" autocomplete="off">
                                상관없다
                            </label>
                        </div>
                    </div>
                    <p>
                        <br/>
                        <font size="2">* 남성 분들은 <b>110-392-627225 신한 한성렬</b>로<br/>5,000원을 입금해주셔야 신청이 완료됩니다!</font>
                    </p>
                    <div class="input-button">
                        <button class="submit"><i class="fa fa-paper-plane"></i><img id="loader" src="/static/img/paper-plane.png" alt="loading image"></button>
                    </div>
                </form>
            </div>
        </div>
        {% if message %}
            <div id="message" class="alert alert-info" role="alert" style="margin-top: 1400px;">
                {{ message }}
            </div>
        {% else %}
            <div id="message" class="alert alert-info" role="alert" style="margin-top: 1400px; display: none">
            </div>
        {% endif %}
    </div>
</div>
{% include 'commons/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$("form").submit(function(e) {
    var ref = $(this).find("[required]");
    $(ref).each(function() {
        if ($(this).val() == '') {
            $('#message').text('주어진 양식을 모두 채워주세요! ㅠㅠ');
            $('#message').css('display', '');
            $(this).focus();
            e.preventDefault();
            return false;
        }
    });

    if (!$('input[name="gender"]:checked').val() || !$('input[name="experience"]:checked').val()
          || !$('input[name="friend"]:checked').val() || !$('input[name="prefer_age"]:checked').val()) {
        $('#message').text('주어진 양식을 모두 채워주세요! ㅠㅠ');
        $('#message').css('display', '');
        return false;
    }

    return true;
});

$(document).ready(function() {
    $('#main').css('height', $(window).height());
    $('#intro').css('height', $('#intro').width() * 0.625);
    $('#main h1').css('padding-top', $(window).height()/2 - $('#main h1').height());

    $(window).resize(function() {
        $('#main').css('height', $(window).height());
        $('#intro').css('height', $('#intro').width() * 0.625);
        $('#main h1').css('padding-top', $(window).height()/2 - $('#main h1').height());
    });

    $('nav').affix({
        offset: {
            top: $(window).height()
        }
    });

    $('nav ul li a').click(function(event) {
        event.preventDefault();
        var where = $(this).attr('href');
        $('html,body').animate({
            scrollTop: $('a[name=' + where + ']').offset().top
        });
    });

    {% if message %}
        document.body.scrollTop = document.body.scrollHeight;
    {% endif %}
});

function number_filter(str_value) {
	return str_value.replace(/[^0-9]/gi, "");
}
</script>
{% endblock %}
