{% extends "commons/base.html" %}
{% block title %}
이말삼초
{% endblock %}
{% block body %}
<div class="contents">
    <nav>
        <h3>　</h3>
        <ul>
            <li><a href="#home">홈</a></li>
            <li><a href="#intro">소개</a></li>
            <li><a href="#apply">신청하기</a></li>
        </ul>
    </nav>
    <a name="#home"></a>
    <div id="main">
        <div class="cover">
            <div class="inner_contents">
                <h1>이말삼초</h1>
                <h4 class="sub-title">더 이상 망설일 수 없는 시간<h4>
            </div>
        </div>
    </div>
    <div class="line-divider"></div>
    <a name="#intro"></a>
    <div class="intro">
        <p class="sub">인연도 사람을 만나야 생기지</p>
        <h3>우리에게 부족했던 건<br>단지 기회였다.</h3>
    </div>
    <a name="#desc"></a>
    <div class="desc">
        <div class="line"></div>
        <h3>다가오는 크리스마스,<br/>올해도 혼자 집에서 뒹굴거릴 생각이신가요?</h3>
        <br/>
        <p>
            1. 지금 당장 단톡방에서 친구 2명만 더 꼬시면 돼요<br/>
            2. 성별, 학교, 연락처만 적고서 기다리면<br/>
            3. 12월 18일 금요일 저녁, 문자로 단체 대화방 링크가 도착합니다 <br/>
            4. 기회는 주어졌습니다! 미팅 시간을 잡으세요!
        </p>
        <br/>
        <div class="line"></div>
    </div>
    <a name="#apply"></a>
    <div class="apply">
        <div class="forms">
            <div class="form-wrapper">
                <div class="header"><h1>엄마가 미팅은 3:3 이랬어요.</h1></div>
                <form action="" method="post" enctype="multipart/form-data">
                    <label>성별</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="여자" autocomplete="off">
                                여자
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="gender" value="남자" autocomplete="off">
                                남자
                            </label>
                        </div>
                    </div>

                    <label>학교</label>
                    <div class="form-group">
                        <div class="btn-group btn-group-justified" data-toggle="buttons">
                            <label class="btn btn-default">
                                <input type="radio" name="university" value="울산대학교" autocomplete="off">
                                울산대
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="university" value="유니스트" autocomplete="off">
                                유니스트
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="university" value="울산과학대학교" autocomplete="off">
                                울산과학대
                            </label>
                            <label class="btn btn-default">
                                <input type="radio" name="university" value="춘해보건대학교" autocomplete="off">
                                춘해보건대
                            </label>
                        </div>
                    </div>

                    <label>연락처</label>
                    <div class="form-group">
                        {% for i in range(0, 3) %}
                        <div class="input-group info">
                            <input type="text" name="name{{ i }}" class="form-control" placeholder="이름" required="true" style="width: 35.7%">
                            <input type="text" name="phone{{ i }}" class="form-control" placeholder="휴대폰 번호 (-제외)" required="true" style="width: 64.3%" onkeyup="this.value=number_filter(this.value);" maxlength="11">
                        </div>
                        {% endfor %}
                    </div>

                    <div class="input-button">
                        <button class="submit"><i class="fa fa-paper-plane"></i><img id="loader" src="/static/img/paper-plane.png" alt="loading image"></button>
                    </div>
                </form>
            </div>
        </div>
        {% if message %}
            <div id="message" class="alert alert-info" role="alert" style="margin-top: 500px;">
                {{ message }}
            </div>
        {% else %}
            <div id="message" class="alert alert-info" role="alert" style="margin-top: 500px; display: none">
            </div>
        {% endif %}
    </div>
</div>
{% include 'commons/footer.html' %}
{% endblock %}

{% block js %}
<script type="text/javascript">
$("form").submit(function(e) {
    var ref = $(this).find("[required]");
    $(ref).each(function() {
        if ($(this).val() == '') {
            // alert('필수 항목을 모두 채워주세요!');
            $('#message').text('주어진 양식을 모두 채워주세요! ㅠㅠ');
            $('#message').css('display', '');
            $(this).focus();
            e.preventDefault();
            return false;
        }
    });

    if (!$('input[name="university"]:checked').val() || !$('input[name="gender"]:checked').val()) {
        // alert('필수 항목을 모두 채워주세요!');
        $('#message').text('주어진 양식을 모두 채워주세요! ㅠㅠ');
        $('#message').css('display', '');
        return false;
    }

    return true;
});

$(document).ready(function() {
    $('#main').css('height', $(window).height());
    $('#intro').css('height', $('#intro').width() * 0.625);
    $('#main h1').css('padding-top', $(window).height()/2 - $('#main h1').height());

    $(window).resize(function() {
        $('#main').css('height', $(window).height());
        $('#intro').css('height', $('#intro').width() * 0.625);
        $('#main h1').css('padding-top', $(window).height()/2 - $('#main h1').height());
    });

    $('nav').affix({
        offset: {
            top: $(window).height()
        }
    });

    $('nav ul li a').click(function(event) {
        event.preventDefault();
        var where = $(this).attr('href');
        $('html,body').animate({
            scrollTop: $('a[name=' + where + ']').offset().top
        });
    });

    {% if message %}
        document.body.scrollTop = document.body.scrollHeight;
    {% endif %}
});

function number_filter(str_value) {
	return str_value.replace(/[^0-9]/gi, "");
}
</script>
{% endblock %}
