{% extends "commons/base.html" %}
{% block title %}
    2말3초
{% endblock %}

{% block body %}
    <nav class="navbar navbar-default">
    	<ul class="nav navbar-nav navbar-right">
    		<li><a href="#home">홈</a></li>
    		<li><a href="#introduce">소개</a></li>
    		<li><a href="#apply">신청하기</a></li>
    	</ul>
    </nav>
    <a name="home"></a>
    <div>
        홈
    </div>
    <a name="introduce"></a>
    <div>
        인트로
    </div>
    <a name="apply"></a>
    <div>
        여기에 폼
    </div>
{% endblock %}
