<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- 설정 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
    <!-- 타이틀 -->
    <title>{% block title %}{% endblock %}</title>
    <!-- 스타일시트 -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    {% block stylesheet %}
    {% endblock %}
</head>

<body>
    <div class="container">
        {% block body %}
        {% endblock %}

        {% block footer %}
        {% endblock %}
    </div>

    <!-- 스크립트 로드 -->
    <script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    {% block js %}
    {% endblock %}
</body>

</html>
